<div class = "{{option}}-option-toggle">
    <dt>
        <input
           type="checkbox"
           id="options-{{option}}"
           class="projectOption"
           data-account="{{id}}"
           data-option="{{option}}"
           data-toggle="toggle"
           data-style="ios"
           data-on="{{getInsideContent on}}"
           data-off="{{getInsideContent off}}"
           data-onstyle="success"
           can-value='active'
           {{#if disabled}}disabled{{/if}}
        />
        <content />
    </dt>

    <dd style = 'display: {{#if active}}block{{else}}none{{/if}}' {{#if message}}data-toggle="popover" data-title="<?= Yii::t('views', 'Action paused') ?>" class="blocked"{{/if}} data-content="{{message}}">
        {{#if message}}
            <span class="glyphicon glyphicon-info-sign anim-ico" aria-hidden="true"></span>
        {{/if}}
        {{counter}}
    </dd>

    {{#if active}}

    {{else}}
        <dd>-</dd>
    {{/if}}
</div>

